// Place all the styles related to the admins::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-- admin_order_index */
.admin_order_table{

    margin-top: 50px;
}

.order_link{
    color:#000;
    text-decoration: underline;
}


/*-- admin_order_show */
.receipt {
    font-size: 20px;
    margin-top: 150px;
    margin-left: 60px;
    line-height: 2.5;
}

.item_data{
 margin-top: 100px;
 
}

.mgl-20{
    margin-left: 20px;
}
/*-- ここまで --*/

