// Place all the styles related to the admins::sweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-- sweets index --*/
.order_link{
    color:#000;
    text-decoration: underline;
}
/*-- ここまで --*/

.fa-bule{

color: #71cbdf;
}