<div class ="body"><%= f.text_area :genre.id, :size=>"50x10" %>
	<div class= "container">
		<div class ="row">


			<div class = "col-xs-11">
				<!-- 　　　<%= form.select :sell_status, [['販売中',0],['販売停止中',1]], { include_blank: true, selected: 0 } %> -->
				<%= f.text_area :genre.id, :size=>"50x10" %>
				<P>ジャンル<%= @sweet.genre_name %></P>
			</div>



	</div>
</div>