/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/* --管理者ログイン-- */
.admin_page_title{
    background-color: #ddd;
    display: inline-block;
    padding: 3px 20px;
    text-align: center;
}
.admin_sessions_title{
    background-color: #ddd;
    display: inline-block;
    padding: 3px 20px;
    text-align: center;
    margin-left:180px ;
    margin-bottom:40px ;
}
.admin_sessions_email_form {
    width :300px;
    height:40px
}
.admin_sessions_password_form {
    width :300px;
    height:40px
}
.admin_passeord_mg{
    margin-right: 27px;
    margin-top: 30px;
}
.sessions_btn {
    margin-top:30px;
    margin-left: 200px;
}
.btn-sm{
    font-size: 20px;

}
/* --管理者ログインここまで-- */

/*-- kaminari --*/
.current{
    margin: 0 auto;
    opacity:0.5 ;
}
.pagination {
    margin-left: 40%;
}
/*-- ここまで　--*/

<<<<<<< HEAD

/* --新規登録画面-- */
.new_registraiton_btn {
  width: 300px;
  height: 50px;
  border: solid 1px;
}


.registration_table tbody tr td {
    border-top: none;
}

.already_registration {
    padding-top: 25px;
}
/*-- 新規登録画面ここまで　--*/

/* --ジャンル検索画面(render)-- */
.genre_table tbody tr td {
    border: none;
}
/*-- -ジャンル検索画面(render)ここまで　--*/















=======
/*-- cutomer_login--*/
.mgr-20{
    margin: 20px;
}
.mgl-50{
    margin-left: 50%;
}
.mgl-10{
    margin-left: 10%;
}
.mgl-btn{
    margin-left: 15%;
    margin-bottom: 10px;
}
.customer_login_title{
    background-color: #ddd;
    display: inline-block;
    padding: 3px 20px;
    text-align: center;
    margin-bottom:40px
}

.mgb-10 {
    margin-bottom: 10px
    }

/*-- ままで　--*/
>>>>>>> develop
