// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_title{
	background-color: #ddd;
	display: inline-block;
}

.text-right{
	margin-bottom: 20px;
}

.count2{
	margin-top: 20px;
}

.count3{
	margin-top: 20px;
}