// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oder_count{
margin-top: 100px;
}

.admin_view{
    background-color: #ddd;
    width: 180px;
    padding: 20;
    padding: 3px;
    text-align: center;
}