// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-- マイページ --*/
.customers_page_title{
    background-color: #ddd;
    display: inline-block;
    padding: 3px 20px;
    text-align: center;
    margin-bottom: 30px;
}

.mypage-font{
    font-size:20px
}

.mgl-40{
    margin-left:40px;

}
.mgl-20{
    margin-left:20px
}
.mgb{
    margin-bottom: 20px;
}
/*-- ここまで　--*/