// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mgb-10 {
margin-bottom: 10px
}
.mgb-20 {
margin-bottom: 10px
}
.mgl-10 {
margin-left: 10%
}
.mgl{
    margin-left: 50%;
}

.deliveries_page_title{
    background-color: #ddd;
    display: inline-block;
    padding: 3px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.mgt{
    margin-top: 50px;

}